<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="rsm automation">

	<listeners>
		<listener class-name="com.rsm.Utilities.Reporting"></listener>
	</listeners>

	<parameter name="browser" value="chrome" />
  <test name="Test">
    <classes>
      <class name="com.rsm.Test.TC_Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- rice automation -->
